/* General */
body{
  background-color: #FFFFFF;
  color: #404041;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;/* normal*/
}
a, button{ text-decoration: none !important; outline: none !important; }
.o-f-c{ object-fit: cover; }
/* BOOTSTRAP Customize */
.btn-outline-danger{
  color: #FA4E41;
  border-color: #FA4E41;
}
.btn-outline-danger:hover,
.btn-outline-danger:active{
  background-color: #FA4E41;
  border-color: #FA4E41;
}
.btn-vermas{
  background-color: #fff;
  border-radius: 25px;
  color: #FA4E41 !important;
  padding: 10px 100px;
}
/* preview */
.preview{
  background-color: #FF5858;
}
/* navegacion */
#header{
  background-color: #fff;
  height: 95px;
  z-index: 9;
  line-height: 70px;
}
#header ul.navbar-nav{ padding-left: 100px; }
#header ul li > a{
  padding: 0 54px 0 0;
}
#header ul li:hover > a,
#header ul li.active > a,
#header ul li .dropdown-menu a:hover,
#header ul li .dropdown-menu a:active{
  background-color: #fff;
  color: #FA4E41;
  /*font-weight: 600;*/
} 
#header ul li .dropdown-menu{
  padding: 63px 0 0 0 !important;
  border: 0;
  border-radius: 0;
  margin-left:-60px;
  margin-top: -25px;
  overflow: hidden;
}
#header ul li .dropdown-menu a{
  padding: 0 60px;
  padding-bottom: 30px;
  line-height: initial;
}
#header ul li.dropdown > a:after,
#menuFloat ul li.dropdown > a:after{/* sin darle clic */
  border: 0;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: 0;
}
#header ul li.dropdown.show > a:after,
#menuFloat ul li.dropdown.show > a:after{/* al darle clic */
  content: "\f077";
}
.btnIniciarSesion{
  border-radius: 25px;
  padding: 8px 30px;
  font-weight: 600;
  border: 2px solid #FA4E41;
}
.SliderSombra{
  background: url(../img/slider-sombra.png) no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.SliderDescripcion{
  top: 50%;
  margin-top: -100px;
}
.SliderForm{
  bottom: 0;
  margin-top: -210px;
  padding: 0;
}
.btn-slider{
  background-color: #FA4E41 !important;
  border-radius: 25px;
  color: white !important;
  margin-top: 15px;
  padding: 10px 40px;
}
/* background */
.bc-white{ background-color: #fff; }
.bc-FA4E41{ background-color: #FA4E41; }
.bc-FF5858{ background-color: #FF5858; }
.bc-404041{ background-color: #404041; }
/* colores */
.fc-FA4E41{ color: #FA4E41; }
.fc-FF5858{ color: #FF5858; }
.fc-404041{ color: #404041; }
.fc-58595B{ color: #58595B; }
.fc-000000{ color: #000000; }
.fc-2D2D2D{ color: #2D2D2D; }
/* weight */
.fw-100{ font-weight: 100; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }
/* size */
.fs-14{ font-size: 14px; }
.fs-24{ font-size: 24px; }
.fs-32{ font-size: 32px; }
.fs-40{ font-size: 40px; }
.fs-40i{ font-size: 40px !important; }
/* padding y margin */
.m-b-15{ margin-bottom: 15px; }
.m-b-20{ margin-bottom: 20px; }
.m-b-25{ margin-bottom: 25px; }
.m-b-30{ margin-bottom: 30px; }
.p-t-b-25{ padding: 25px 0; }
.p-t-b-28{ padding: 28px 0; }
.p-t-b-30{ padding: 30px 0; }
.p-t-b-50{ padding: 50px 0; }
.p-t-b-70{ padding: 70px 0; }
.p-t-b-80{ padding: 80px 0; }
.p-t-b-142{ padding: 142px 0; }
.p-t-b-150{ padding: 150px 0; }
.p-20{ padding: 20px; }
.p-l-0{ padding-left: 0px; }
.p-l-50{ padding-left: 50px; }
.p-r-0{ padding-right: 0px; }
.p-b-0{ padding-bottom: 0; }
.p-b-15{ padding-bottom: 15px; }
.p-b-30{ padding-bottom: 30px; }
.p-b-40{ padding-bottom: 40px; }
.p-b-50{ padding-bottom: 50px; }
.p-b-65{ padding-bottom: 65px; }
.p-b-70{ padding-bottom: 70px; }
.p-b-150{ padding-bottom: 150px; }
.p-t-0{ padding-top: 0; }
.p-t-30{ padding-top: 30px; }
/* border */
.br-0{ border-radius: 0; }
.b-0{ border: 0; }
.b-r-0{ border-right: 0; }
.b-l-0{ border-left: 0; }
.b-l-5-E5E6E7{ border-left: 5px solid #E5E6E7; }
.b-l-5-FFFFFF{ border-left: 5px solid #FFFFFF; }
.b-b-1-E5E6E7{ border-bottom: 1px solid #E5E6E7; }
/* height */
.h-250{ height: 250px; }
.h-265{ height: 265px; }
.h-420{ height: 420px; }
/* inicio */
/* servicios */
.card-sombra{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  overflow: hidden;
}
.card-servicios-home .card-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-servicios-home ul li{
  padding-top: 30px; 
  padding-bottom: 30px; 
}
.card-servicios-home:hover ul{
  display: block !important;
}
/* footer */
#footer{ border: 1px solid #E5E6E7; }
#footer ul{ padding: 0; margin: 0;}
#footer ul li{ 
  list-style: none; 
  font-size: 14px; 
  padding-bottom: 20px;
  font-weight: 600;
}
#footer ul li:last-child{ 
  padding-bottom: 0;
}
#footer ul li a{ color: #000; font-weight: 300; }
/* como funciona */
.fa-btn-gris:after,
.fa-btn-warning:after,
.fa-btn-success:after{
  background-color: #fff;
  border-radius: 50%;
  content: "";
  left: -19px;
  padding: 10px;
  position: absolute;
  top: 0;
}
.fa-btn-gris:after{
  border: 6px solid #C4C4C4;
}
.fa-btn-warning:after{
  border: 6px solid #FFAE35;
}
.fa-btn-success:after{
  border: 6px solid #6EC37C;
}
/* servicios motorizado */
#servicios-motorizado .card-body{
  padding: 30px 1.25rem;
}
/* sobre nosotros */
#sobrenosotros{ border-bottom: 1px solid #E5E6E7; }
.pageNosotros #sliderComprometidos .mq{ 
  margin-top: -167px; 
}
/* verificaciones */
.pageVerificaciones #queOfrecemos img{
  height: 40px;
}
/* gracias */
.gracias{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
}
/* backoffice */
.wrapper-page{
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}
.pageInicioSesion .fondo{
  background-color: yellow;
}
.pageInicioSesion .fondo p{
  position: absolute;
  bottom: 0;
}
.
/*.pageInicioSesion{
  height: 100vh;
  width: 100vh;
}
#inicioSesion p{
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
}*/
/* media querie */
@media (max-width: 414px){
  .fs-32{ font-size: 24px; }
  .fs-40{ font-size: 24px; }
  .p-t-b-142{ padding: 71px 0; }
  .p-t-b-150{ padding: 75px 0; }
  .p-b-150{ padding-bottom: 75px; }
  .pageInicio .fs-24,
  .pagePaqueteria #comoFunciona .fs-24,
  .pageEmpresas #slider .card-title,
  .pageMotorizados #slider .card-title{
    font-size: 16px; 
    font-weight: 600; 
  }
  #queOfrecemos img,
  #partedeNosotros img,
  #serviciosNosotros img{ 
    height: 40px; 
  }
  #queOfrecemos p,
  #partedeNosotros .card-description,
  #atencionPersonalizada p{
    font-size: 14px; 
  }
  /* header */
  #slider .mq,
  #sliderComprometidos .mq{ 
    text-align: center !important; 
  }
  #header .navbar-collapse{ display: none; }
  .btnIniciarFloat{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
  #menuFloat{
    background: rgba(64, 64, 65, 0.6);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;    
    transition: all 0.5s ease-in-out; 
  }
  #menuFloat.active{
    left: 0%;
  }
  #menuFloat .contenedor{
    background-color: white;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    margin-left: 100%;
    width: 85%;
    z-index: 15;
    transition: all 0.5s ease-in-out; 
  }
  #menuFloat .contenedor.active{
    margin-left: 15%;
  }
  #menuFloat ul li {
    padding-bottom: 30px;
  }
  #menuFloat ul li > a{
    color: #404041;
    font-weight: 600;
    font-size: 24px;
    padding: 0;
  }
  #menuFloat ul li .dropdown-menu{
    border: 0;
    margin: 0;
    padding: 0;
    top: 35px !important;
    transform: translate3d(0px, 18px, 0px) !important;
  }
  #menuFloat ul li.dropdown > a:after{
    float: right;
  }
  #menuFloat ul li.dropdown{
    height: 66px;
    transition: height 1s ease-out;
  }
  #menuFloat ul li.dropdown.show{
    overflow: hidden;
  }
  #menuFloat ul li#floatServicios.show{
    height: 205px;
  }
  #menuFloat ul li#floatEscribenos.show{
    height: 155px;
  }
  #menuFloat ul li .dropdown-menu a{
    color: #686868;
    font-size: 16px;
    padding: 0 0 25px 0;
  }
  #menuFloat ul li .dropdown-menu a:last-child{
    padding: 0;
  }
  #menuFloat .btnIniciarSesion{
    width: 100%;
  }
  /* inicio */
  .card-servicios-home .mq{
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  #slider .mq h5{
    line-height: 33px;
  }
  .card-servicios-home .mq p{
    font-weight: 400;
    padding-left: 10px;
    width: 100%;
  }
  .pageInicio #slider .mq{ 
    padding:0; 
    margin-top: -145px; 
    left: 10%;
    right: 10%;
  }
  /* paqueteria */
  #atencionPersonalizada p{ font-weight: 300; }
  .pagePaqueteria #slider .mq{ padding:0; margin-top: -120px; }
  /* verificaciones */
  .pageVerificaciones #slider .mq{ padding:0; margin-top: -125px; }
  .pageVerificaciones #queOfrecemos img{ width: 32px; height: 32px; margin: 0;}
  .pageVerificaciones #queOfrecemos .item{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .pageVerificaciones #queOfrecemos .item p{ padding-left: 25px;}
  #queOfrecemos .mq{ margin-top: 20px; }
  #queOfrecemos .mq .col-12{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  #queOfrecemos .mq .col-12 img{
    margin: 0;
    padding-right: 25px;
  }
  /* tercerizacion */
  .pageTercerizacion #slider .mq{ padding:0; margin-top: -133px; width: 100%; left: 0; }
  /* nosotros */
  .pageNosotros #sliderComprometidos .mq .card-title{ font-size: 16px; }
  .pageNosotros #sliderComprometidos .mq .p-t-b-80{ padding: 20px 0; }
  .pageNosotros #sliderComprometidos .mq .p-b-50{ padding-bottom: 30px; font-size: 14px; font-weight: 300; }
  .pageNosotros #sliderComprometidos .mq .btn-slider{ width: 100%; }
  .pageNosotros #sliderComprometidos .mq{ 
    padding:0; 
    margin-top: -117px; 
    left: 5% !important; 
    right: 5%; 
  }
  .pageNosotros #sliderComprometidos .mq .p-b-40{ 
    padding-bottom: 0px;
    margin: 0;
  }
  .pageNosotros #sliderComprometidos .mq .h-265{
    height: 240px;
  }
  /* empresa y motorizados*/
  .pageEmpresas .SliderSombra,
  .pageMotorizados .SliderSombra{ 
    display: none; 
  }
  .pageEmpresas .SliderForm,
  .pageMotorizados .SliderForm{
    position: relative;
    margin: 0 15px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .pageEmpresas .title,
  .pageMotorizados .title{ 
    color: #FA4E41; 
    font-size: 32px;
    margin-bottom: 50px;
  }
  .pageEmpresas .card,
  .pageMotorizados .card{ 
    border: 0;
    padding: 0;
  }
  .pageEmpresas .card-title,
  .pageMotorizados .card-title{ 
    text-align: left;
    padding-bottom: 25px;
  }
  .pageEmpresas .card-body,
  .pageMotorizados .card-body{ 
    padding: 0;
    height: auto;
  }
}